* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: poppins;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#280305, #BD2930, #F13640);
}

.index_div1 {
    width: 80%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
    background-color: white;
    box-shadow: 0px 4px 13px 6px #00000040;
    border-radius: 12px;
}

.index_div1 img {
    width: 300px;
    height: auto;
}

.index_div1 button {
    width: 236px;
    color: white;
    border: none;
    height: 45px;
    border-radius: 18px;
    background: linear-gradient(180deg, #BD232B 0%, #F13640 0.01%, #BD2930 100%);
    font-size: 20px;
    font-weight: 700;
}

.index_div1 a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
}