{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'dashboard/index.css' %}">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
    />
</head>
<body>
    <div class="index_div1">
        <img src="{% static 'dashboard/hiremi_logo.jpeg' %}" alt="">
        <a href="{% url 'signin' %}"><button>Login</button></a>
        <a href="{% url 'signup' %}">Sign up new user</a>
    </div>
</body>
</html>